<ion-view title="Calificaciones">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Indice</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Periodo</span>
                <select></select>
            </label>
            <ion-item class="item-divider">Materias</ion-item>
            <label class="item item-input">
                <span class="input-label">Literatura</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Matemáticas</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Sociales</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Naturales</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Inglés</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Francés</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Arte</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Fisica</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
    </ion-content>
</ion-view>