<ion-view title="Oportunidades">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Becas Grado</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-divider">Nacionales</ion-item>
                    <ion-item href="#/page7">Fondo Excelencia Brugal</ion-item>
                    <ion-item href="#/page7">MESCYT</ion-item>
                    <ion-item href="#/page7">Desp. Primera Dama</ion-item>
                    <ion-item class="item-divider">Internacionales</ion-item>
                    <ion-item href="#/page7">Consulado Japonés</ion-item>
                    <ion-item href="#/page7">Consulado Español</ion-item>
                    <ion-item href="#/page7">Consulado Americano</ion-item>
                    <ion-item href="#/page7">Consulado Venezolano</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>