<ion-view title="Oportunidad">
    <ion-content padding="true" class="has-header">
        <h1>Nombre Oportunidad</h1>
        <div>
            <p>Descripcion de la
                <strong>oportunidad</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Areas de estudio</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Requerimientos</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Indice Mínimo</span>
                        <input type="number" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Otros Requerimientos</span><textarea placeholder=""> </textarea>
                    </label>
                </form>
            </div>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>