<ion-view title="Perfil">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class="list card">
                <div class="item item-divider">Informacion Personal</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Nombre</span>
                            <input type="text" placeholder="">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Apellido</span>
                            <input type="text" placeholder="">
                        </label>
                        <label class="item item-select">
                            <span class="input-label">Centro Educativo</span>
                            <select></select>
                        </label>
                        <label class="item item-select">
                            <span class="input-label">Grado</span>
                            <select></select>
                        </label>
                    </form>
                </div>
            </div>
        </form>
        <div class="list card">
            <div class="item item-divider">Informacion Vocacional</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select">
                        <span class="input-label">Quiero ser</span>
                        <select></select>
                    </label>
                    <ion-item class="item-divider">¿Cuánto te gustan tus materias?</ion-item>
                    <ion-item class="range range-positive">Español
                        <input type="range" value="50" min="0" max="100">
                    </ion-item>
                    <ion-item class="range range-positive">Matemáticas
                        <input type="range" value="50" min="0" max="100">
                    </ion-item>
                    <ion-item class="range range-positive">Idiomas
                        <input type="range" value="50" min="0" max="100">
                    </ion-item>
                    <ion-item class="range range-positive">Biología
                        <input type="range" value="50" min="0" max="100">
                    </ion-item>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>