<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-dark tabs-icon-top">
        <ion-tab title="Perfil" icon="ion-android-person" href="#/page1/page5">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Calificaciones" icon="ion-ios-list" href="#/page1/page2">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mejoras" icon="ion-arrow-graph-up-right" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Oportunidad" icon="ion-ribbon-b" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>